.i {
    margin-right: 1%;
}

.img {
    margin-top: -3%;
}

@media screen and (max-width: 550px) {
    .img {
        display: flex;
        justify-content: space-between;
    }

    .i {
        width: 50%;
    }
}

/* 768px - 866px */
@media screen and (max-width: 866px) {
    .img {
        display: flex;
        justify-content: space-between;
    }

    .i {
        width: 50%;
    }
}